.container {
    display:flex ;
    flex-direction: column;
    align-items: center;
    background-color:#5A3F11;

}
.c1 {
    display: flex;
    justify-content: center;
    align-content: center;
    border-style: dotted;
    background-color: #faf4f4;
}
button {
    width : 20% ;
}
#score {
    display: flex;
    justify-content: center;
}
.c1 {
    width:700px ;
    height:500px;
    display: flex;
    justify-content: center;
}
#gameCanvas {
    width :700px ;
    height: 500px;
}